<section data-ng-controller="MlController">

	<div class="row">
		<div class="col-xs-12">
			<h2>Here are some things from CSCI 571 - machine Learning (Spring 2015)</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-6">
			<h4><strong>Step 1.</strong> Enter your <strong>raw data</strong> here:</h4>
1 1<br>
9 9<br>
1 3<br>
2 1<br>
2 2<br>
3 1<br>
3 2<br>
3 4<br>
5 2<br>
5 7<br>
6 5<br>
7 4<br>
7 6<br>
7 8<br>
8 3<br>
8 4<br>
10 6
			<textarea name="rawInput" ng-model="rawData" autofocus autocomplete="on" placeholder="Raw data set here..." rows=5></textarea>
		</div>
		<div class="col-sm-6 col-md-6">
			<h4><strong>Step 2.</strong> Enter your <strong>clustering data</strong> here:</h4>
			0  1  0  1  0  0  1  1  0  1  1  1  1  1  1  1  1  <br>
			0  1  0  0  0  0  1  1  0  1  1  1  1  1  1  1  1  <br>
			0  1  0  0  0  0  0  0  0  1  1  1  1  1  1  1  1
			<textarea name="clusterInput" ng-model="clusterData" autocomplete="on" placeholder="Cluster data set here..." rows=5></textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h4><strong>Step 3.</strong></h4>
			<button id="build-btn" class="btn btn-lg btn-info" ng-click="buildData()" ng-hide="dataSets !== undefined">Build Data!</button>
			<button id="prev-btn" class="btn btn-lg btn-default" ng-click="prevCluster()" ng-show="dataSets" ng-disabled="clusterStep < 1">Prev Cluster</button>
			<panel ng-bind="clusterStep"></panel>
			<button id="next-btn" class="btn btn-lg btn-default" ng-click="nextCluster()" ng-show="dataSets" ng-disabled="clusterStep >= (dataSets.length - 1)">Next Cluster</button>
			<hr>
		</div>
	</div>

	<div class="row" ng-show="loading">
		<div class="col-xs-12">
			<div class='loading-animation'>
			  <div class='bullet'></div>
			  <div class='bullet'></div>
			  <div class='bullet'></div>
			  <div class='bullet'></div>
			  <div class='bullet'></div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="error">
		<div class="col-xs-12">
			<div class="panel panel-danger">
				<div class="panel-heading">No, no, no...</div>
				<div class="panel-body" ng-bind="error"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="chart"><svg></svg></div>
		</div>
	</div>

</section>
